html {
  scroll-behavior: smooth;
}

img {
  object-fit: contain;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px 32px;
  background-color: #ffffff50;
  padding: 24px;
  border-radius: 16px;
}

.card:hover {
  transition-property: all;
  transition-duration: 0.5s;
  transform: scale(1.025);
}

.card div {
  display: flex;
  align-items: baseline;
  gap: 32px 16px;
}

.card img {
  border-radius: 99999px;
  width: 96px;
  height: 96px;
}

.card p {
  grid-column-start: 1;
  grid-column-end: 3;
}

.card h1 {
  font-size: 20px;
  font-family: monospace;
  justify-self: flex-start;
  align-self: center;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .card h1 {
    font-size: 16px;
    font-family: monospace;
    justify-self: flex-start;
    align-self: center;
    font-weight: bold;
  }
  .card img {
    width: 64px;
    height: 64px;
  }
  .card {
    padding: 12px 12px;
    gap: 8px;
  }
  .card div {
    gap: 8px 8px;
  }
  .card p {
    font-size: 14px;
  }
  .card h1 {
    font-size: 16px;
  }
}
