*{
    font-family: 'Prompt', sans-serif;
    color: white;
}

html, body{
    margin: 0;
    background-color: black;
}

html {scroll-behavior: smooth;}

.navBar {
    background-color: black;
    color: white;
    position: fixed;
    display: flex;
    border-bottom: 5px solid white;
    height: 80px;
    width: 100vw;
    padding: 10px 0px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 32px;
    z-index: 10;
}

.navHref{
    height: 100%;
    text-decoration: none;
}

.navItem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 22vw;
    border-radius: 15px;
    gap: 20px;
    cursor: pointer;
}

.navItem:hover{
    background-color: white;
    color: black;
    animation: hovering 3000ms ease infinite;
}
.navItem:active{
    background-color: rgb(150, 150, 150);
}

.navIcon{fill: white;}
.navItem:hover .navIcon, .navItem:active .navIcon{fill: black;}

.sectionContainer{
    padding: 50px 0;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Infos{    
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,60,1) 100%);
}

#Skills{
    background: linear-gradient(180deg, rgba(0,0,60,1) 0%, rgba(0,40,0,1) 100%);
}

#Contacts{
    background: linear-gradient(180deg, rgba(0,40,0,1) 0%, rgba(40,0,40,1) 100%);
}

.header{
    margin: 0px;
    font-size: 200px;
    text-shadow: 0px 0px 10px cyan;
    animation: blink-text 2000ms linear infinite;
}

.infosItem{
    width: 1000px;
    height: 500px;
    border: 5px solid white;
    border-radius: 30px;
    padding: 75px;
    display: grid;
    grid-template-columns: 45% 55%;
    font-size: 36px;
}

.infosImgCon, .cardImgCon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoImg {width: 400px;}

p {margin: 10px 0px 10px 0px;}


.contactsItem{
    width: 600px;
    height: 500px;
    border: 5px solid white;
    border-radius: 30px;
    padding: 75px;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 36px;
}

.contacts, .contactsDiv{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts{cursor: pointer;}

.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}

.card{
    width: 250px;
    height: 450px;
    border: 5px solid white;
    border-radius: 30px;
    padding: 35px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
}

.cardImg{
    width: 225px;
    border: 5px solid cyan;
    border-radius: 20px;
}

.cardHeader{
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.cardTxt{font-size: 18px;}

.animeBorder{
    animation: colorRotate 5s linear infinite;
}

@keyframes blink-text {
	0% {opacity: 1;}
	1% {opacity: 0;}
	5% {opacity: 1;}
    11% {opacity: 0;}
	15% {opacity: 1;}
	100% {opacity: 1;}
}

@keyframes hovering {
	0% {background-color: white}
    25% {background-color: rgba(100,100,200,1);}
    50% {background-color: rgba(100,200,100,1)}
    75% {background-color: rgba(200,100,200,1)}
    100% {background-color: white}
}

@keyframes colorRotate {
    0% {box-shadow: 10px 10px 10px yellow, -10px -10px 10px magenta; }
    25% {box-shadow: -10px 10px 10px yellow, 10px -10px 10px magenta; }
    50% {box-shadow: -10px -10px 10px yellow, 10px 10px 10px magenta; }
    75% {box-shadow: 10px -10px 10px yellow, -10px 10px 10px magenta; }
    100% {box-shadow: 10px 10px 10px yellow, -10px -10px 10px magenta;}
}

@media screen and (max-width: 1200px){
    .header{font-size: 150px;}
    .infosItem{
        width: 400px;
        height: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 50px;
        font-size: 24px;
    }
    .infoP {margin: 0px;}
    .infoImg {width: 300px;}

    .contactsItem{
        width: 400px;
        height: 400px;
        font-size: 24px;
        padding: 50px;
    }

    .cardContainer{
        gap: 25px;
    }
    .card{
        width: 150px;
        height: 350px;
        padding: 25px;
        grid-template-rows: 45% 55%;
    }
    .cardImg{width: 125px;}
    .cardHeader{font-size: 24px;}
    .cardTxt{font-size: 15px;}
}

@media screen and (max-width: 700px){
    .sectionContainer{
        padding: 125px 0;
        height: 600px;
    }
    p {margin: 5px 0px 5px 0px;}
    .header{font-size: 80px;}
    .infosItem{
        width: 230px;
        height: 350px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 20px;
        font-size: 15px;
    }
    .infoImg {width: 180px;}

    .contactsItem{
        width: 250px;
        height: 250px;
        font-size: 15px;
        padding: 20px;
    }

    .cardContainer{
        grid-template-columns: 1fr;
    }
    .card{
        width: 240px;
        height: 100px;
        padding: 15px;
        grid-template-columns: 45% 55%;
        grid-row: 1fr;
    }
    .cardImgCon{height: 100px;}
    .cardImg{width: 75px; border-radius: 10px;}
    .cardHeader{font-size: 15px;}
    .cardTxt{font-size: 10px;}
}

@media screen and (max-width: 860px){
    .navBar{font-size: 24px;}
    .navItem{gap: 5px;}
    .navIcon{width: 24px; height: 24px;}
}



@media screen and (max-width: 600px){
    .navIcon{display: none;}
}

@media screen and (max-width: 500px){
    .navTxt{display: none;}
    .navIcon{
        display: block;
        width: 35px; 
        height: 35px;
    }
}
